row {
    text-align: center;
}

keyboard {
    text-align: center;
}

game {
    text-align: center;
}

alphabet {
    size: 1;
    text-align: center;
}

.default-char {
    background-color: #d3d6da;
    text-align: center;
    font-weight: bold;
}

.absent {
    color: white;
    background-color: #787c7e;
    text-align: center;
    font-weight: bold;
}

.correct-position {
    color: white;
    background-color: #6aaa64;
    text-align: center;
    font-weight: bold;
}

.incorrect-position {
    color: white;
    background-color: #c9b458;
    text-align: center;
    font-weight: bold;
}

.in-progress {
    color: white;
    background-color: #0000ff;
    text-align: center;
    font-weight: bold;
}

.won {
    color: white;
    background-color: #6aaa64;
    text-align: center;
    font-weight: bold;
}

.lost {
    color: white;
    background-color: #ff0000;
    text-align: center;
    font-weight: bold;
}
